doctype html
html
  head
    meta charset="utf-8"
    title パワプロアプリスキルサーチ
    meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width"
    meta name="keywords" content="パワプロアプリ,金特,コツ"
    meta name="description" content="パワプロアプリの金特・コツの所有イベキャラを検索できます"
    meta property="og:locale" content="ja-JP"
    meta property="og:title" content="パワプロアプリスキルサーチ"
    meta property="og:description" content="パワプロアプリの金特・コツの所有イベキャラを検索できます"
    meta property="og:url" content="https://umeyuki.github.io/***"
    meta property="og:site_name" content="パワプロアプリスキルサーチ"
    meta property="og:type" content="article"
    link rel="stylesheet" href="assets/stylesheets/all.css"
  body
    div.container
      h3.content-subhead パワプロアプリスキルサーチ
      #app
      .footer
        | Copyright &copy; umeyuki 2015.
        | Powerd by
        a href="http://tumblr.pawapurolabo.com"
    script src="assets/javascripts/app.js"
